.footer {
    width: 450px;
    text-align: center;
    display: block;
    margin: 15px auto 30px auto;
    font-size: 0.90em;
    color: #fff;
}

.footer a {
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}