#quote-box {
    padding: 50px 60px;
    border-radius: 10px;
    position: relative;
    width: 450px;
    display: table;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#quote-box .quote-text {
    padding: 10px 0;
    font-family: "Merriweather", serif;
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
}

#quote-box .quote-text i {
    font-size: 1em;
    margin-right: 0.4em;
}

#quote-box .quote-author {
    font-family: "Lora", serif;
    width: 450px;
    height: auto;
    clear: both;
    padding: 20px 0 0 20px;
    font-size: 1em;
    text-align: right;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.social-button {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.group-buttons {
    display: flex;
    gap: 10px;
}

.clipboard-button,
.quote-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 8px 18px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.clipboard-button {
    width: 24px;
}

.clipboard-button img {
    width: 24px;
    height: 24px;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 15px;
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* animation */

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Font */

.button {
    font-family: "Merriweather", serif;
}